<ul class="listView">
	<f:for each="{checklists}" as="list">
		<li>
			<form name="tx_checklists_pi1_{list.uid}" action="" method="post" class="inlineForm">
				<input type="hidden" name="tx_checklists_pi1[instance]" value="{list.uid}" />
				<input type="checkbox" name="tx_checklists_pi1[checked]" value="1" {f:if(condition: list.validated, then: 'checked="checked"', else: '')} onclick="this.form.submit()" />
			</form>
			<f:if condition="{list.status}">
				<f:then>
					<f:image src="EXT:checklists/Resources/Public/Images/Complete.png" width="16" height="16" alt="OK" />
				</f:then>
				<f:else>
					<f:image src="EXT:checklists/Resources/Public/Images/Incomplete.png" width="16" height="16" alt="Not OK" />
				</f:else>
			</f:if>
			<f:link.page additionalParams="{tx_checklists_pi1: {showUid: list.uid}}">
				{list.title}
			</f:link.page>
			<f:if condition="{list.validated}">
				<br />{list.validated_by} (<f:format.date format="d.m.Y - H:i:s">@{list.validated_on}</f:format.date>)
			</f:if>
		</li>
	</f:for>
</ul>
